body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  

}



img{
    width: 200px;
    height: 200px;

    position: relative;
    animation:anima 10s ease;
   
}

@keyframes anima {

    0%{
        bottom: 0;
        right: 0;
        width: 200px;
        height: 200px;

    }

    100% {
        bottom: 49%;
        right: 47%;
        width: 70px;
        height: 70px;

    }


}






        
   