div{

    height: 200px;
    width: 200px;
    animation: mover 4s infinite;


}
 

body{
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;


}

@keyframes mover{

    50%{
        background-color: greenyellow;
        
        
    }

    100%{
         background-color: red;
         
    }

    



    }  





